
*{
    background-color: blanchedalmond;
    margin: 0px;
    padding: 0px;
}
.board{
    margin: .4em auto 4em auto;
    width: 560px;
    height: 560px;
    background-color: black;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;
}
.slot{
    box-sizing: border-box;
    float: left;
    width: 70px;
    height: 70px;
    background-color: aquamarine;
    border: 1px solid #00000090;
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: 7px;
    transition: background-position .1s, background-size .1s;
    
    
}

.slot:hover {
    background-size: 60px;
    background-position: 4px;
}

.horse-white{
    background-image: url("./src//white/horse.png");
}
.tower-white{
    background-image: url("./src/white/tower.png");
}
.bishop-white{
    background-image: url("./src/white/bishop.png");
}
.king-white{
    background-image: url("./src/white/king.png");
}
.queen-white{
    background-image: url("./src/white/queen.png");
}
.pawns-white{
    background-image: url("./src/white/pawn.png");
}


.horse-black{
    background-image: url("./src/black/horse.png");
}
.tower-black{
    background-image: url("./src/black/tower.png");
}
.bishop-black{
    background-image: url("./src/black/bishop.png");
}
.king-black{
    background-image: url("./src/black/king.png");
}
.queen-black{
    background-image: url("./src/black/queen.png");
}
.pawns-black{
    background-image: url("./src/black/pawn.png");
}




.selected {
    border: 2px solid #000000;
}

.move {
    border: 2px solid white;
}

.attack {
    border: 2px solid rgb(187, 24, 24)
}
