
*{
    background-color: blanchedalmond;
    margin: 0px;
    padding: 0px;
}
.board{
    margin: .4em auto 4em auto;
    width: 560px;
    height: 560px;
    background-color: black;
    border-bottom: 1px solid #666;
    border-right: 1px solid #666;

}
.slot{
    float: left;
    width: 69px;
    height: 69px;
    background-color: aquamarine;
    border-top: 1px solid black;
    border-left: 1px solid black;
    
}
.horse{
    background-image: url("./src/chess.png");
    background-size: 55px;
    background-repeat: no-repeat;
    background-position: 7px;
}
